.DS_Store

# command package
node_modules
dist
utils-cache

# local env files
.env.local
.env.*.local

# Log files
pnpm-debug.log*

# Editor directories and files
.idea
.cursor

# Storybook
*storybook.log
storybook-static
