[submodule "packages/frame-animation"]
	path = packages/frame-animation
	url = git@github.com:JusticHentai/frame-animation.git
	branch = main
[submodule "packages/utils-debug"]
	path = packages/utils-debug
	url = git@github.com:JusticHentai/utlis-debug.git
	branch = main
[submodule "packages/config-parsing"]
	path = packages/config-parsing
	url = git@github.com:JusticHentai/config-parsing.git
	branch = main
[submodule "packages/scss-utils"]
	path = packages/scss-utils
	url = git@github.com:JusticHentai/scss-utils.git
	branch = main
[submodule "packages/utils-debug-node"]
	path = packages/utils-debug-node
	url = git@github.com:JusticHentai/utils-debug-node.git
	branch = main
[submodule "packages/resize"]
	path = packages/resize
	url = git@github.com:JusticHentai/resize.git
	branch = main
[submodule "packages/types-utils"]
	path = packages/types-utils
	url = git@github.com:JusticHentai/types-utils.git
	branch = main
[submodule "packages/is"]
	path = packages/is
	url = git@github.com:JusticHentai/is.git
	branch = main
[submodule "packages/utils-template"]
	path = packages/utils-template
	url = git@github.com:JusticHentai/utils-template.git
	branch = main
[submodule "packages/math"]
	path = packages/math
	url = git@github.com:JusticHentai/math.git
	branch = main
[submodule "packages/leetcode"]
	path = packages/leetcode
	url = git@github.com:JusticHentai/leetcode.git
	branch = main
[submodule "packages/dom"]
	path = packages/dom
	url = git@github.com:JusticHentai/dom.git
	branch = main
[submodule "packages/handwritten"]
	path = packages/handwritten
	url = git@github.com:JusticHentai/handwritten.git
	branch = main
[submodule "packages/error-collection"]
	path = packages/error-collection
	url = git@github.com:JusticHentai/error-collection.git
	branch = main
[submodule "packages/logger"]
	path = packages/logger
	url = git@github.com:JusticHentai/logger.git
	branch = main
[submodule "packages/resource-controller"]
	path = packages/resource-controller
	url = git@github.com:JusticHentai/resource-controller.git
	branch = main
