.storybook-button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: 3em;
  font-weight: 700;
  line-height: 1;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #555ab9;
  color: white;
  padding: 10px 16px;
  font-size: 12px;
  margin: 20px;
}
